.container-fluid#home
    h1 py-ferry
    
    a.btn.btn-primary(ui-sref="login") Login Page
    a.btn.btn-primary(ui-sref="register") Register Page
    a.btn.btn-primary(ui-sref="gamesList") Games List
    