#games
    .modal-header
        h3.modal-title Edit Route
        a.pull-right(href="" ng-click="cancel()" style="margin-top: -25px;") X
    .modal-body
        h5 Routes
        span.route-div(ng-repeat="listRoute in routes" ng-click="selectRoute(listRoute)" ng-class="{ selected: route.id == listRoute.id }")
            p
                span From:
                span(ng-bind="listRoute.first_terminal.name")
                span To:
                span(ng-bind="listRoute.second_terminal.name")
        
        p Between
        .row
            .col-xs-6
                .form-group
                    select(ng-model="route.terminal1Id")
                        option(value="{{terminal.id}}" ng-repeat="terminal in terminals" ng-bind="terminal.name" ng-selected="terminal.id == route.terminal1Id")
            .col-xs-6
                .form-group
                    select(ng-model="route.terminal2Id")
                        option(value="{{terminal.id}}" ng-repeat="terminal in terminals" ng-bind="terminal.name" ng-selected="terminal.id == route.terminal2Id")
        .row
            .col-xs-12
                .form-group
                    div(ng-repeat="ferry in availableFerries track by $index")
                        label(ng-bind="ferry.name")
                        input.checkbox(type="checkbox" ng-checked="ferry.route.id == route.id" ng-model="ferriesObject[ferry.id]")
        .row
            .col-xs-4
                .form-group
                    label(for="passenger") Passenger Fare
                    input(type="currency" id="passenger" ng-model="route.passenger_fare") 
            .col-xs-4
                .form-group
                    label(for="car") Car Fare
                    input(type="currency" id="car" ng-model="route.car_fare")
            .col-xs-4
                .form-group
                    label(for="truck") Truck Fare
                    input(type="currency" id="truck" ng-model="route.truck_fare")
                
    .modal-footer
        button.btn.btn-default(ng-click="save()") Save
        button.btn.btn-default(ng-click="cancel()") Cancel
    