nav#header.navbar.navbar-default.navbar-fixed-top(ng-controller="NavCtrl")
  .container
    .navbar-header
      .logo-container
        a(ui-sref="home" href="" ng-click="isCollapsed = true")
          .icon-logo-placeholder
      button.navbar-toggle.collapsed(type="button" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home' href="") py-ferry
    .collapse.navbar-collapse(uib-collapse="isCollapsed" collapse="isCollapsed")
      div.game-stats(ng-if="game().current_year" style="float: left;")
        span.stat 
          span Year: 
          span(ng-bind="game().current_year")
        span.stat 
          span Week: 
          span(ng-bind="game().current_week")
        span.stat 
          span Cash: 
          span(ng-bind="game().cash_available | currencyScaler")
      ul.main-menu.nav.navbar-nav.navbar-right(ng-if="userLoggedIn()")
        li
          a(href="" ng-click="logout(); isCollapsed = true") Logout
          
