@import master

#games
    .panel
        height: 250px
    .modal-body
        h5
            text-align: center
    a.btn.btn-default
        clear: both
        float: right
        width: 125px
    .ferry-class-div
        width: 122px
        float: left
        display: inline
        border: 1px #ccc solid
        margin: 10px
        i
            margin: 0 10px
        p
            text-align: center
            margin-top: 10px
    .selected
        border: 1px green solid
        background-color: #777
    table
        thead
            th
                text-align: center
        tbody
            td
                text-align: center