#games.container
    h1 Games
    table.table.table-striped
        thead
            tr
                th Play Game
                th Created
                th Game Year - Week
                th Cash Available
                th Ferries
                th Routes
                th Profit/Week
                th Delete Game
        tbody
            tr(ng-repeat="game in games")
                td
                    a(ui-sref="gamesDetail({ gameId: game.id })")
                        i.fa.fa-play()
                td(ng-bind="game.created_date * 1000 | date")
                td(ng-bind="game.current_year + ' - ' + game.current_week")
                td(ng-bind="game.cash_available | currency : '$' : 0")
                td(ng-bind="game.ferries.length")
                td(ng-bind="game.routes.length")
                td(ng-bind="")
                td
                    a(href="" ng-click="deleteGame(game.id)")
                        i.fa.fa-trash
            tr(ng-if="games.length == 0")
                td(colspan="8")
                    span You have no active games.
    
    a.btn.btn-primary(ng-click="createGame()") Create New Game