#games.container.games-detail
    .row
        .col-xs-12.col-sm-5
            p image here
        .col-xs-12.col-sm-7
            .row
                .col-xs-5.col-xs-offset-5
                    h3 Ferries
            .row
                .col-xs-6.col-sm-5
                    br
                    a.btn.btn-default(href="" ng-click="ferry.buy()") Buy Ferry
                    a.btn.btn-default(href="" ng-click="ferry.sell()") Sell Ferry
                    a.btn.btn-default(href="" ng-click="open('sm')") Maintenance
                    a.btn.btn-default(href="") Staffing
                .col-xs-6.col-sm-7
                    div(uib-accordion close-others="oneAtATime" style="width: 100%;")
                        div.panel-default(uib-accordion-group ng-repeat="ferry in ferries")
                            div(uib-accordion-heading) {{ferry.name}}
                            p Class: {{ferry.ferry_class.name}}
            .row
                .col-xs-5.col-xs-offset-5
                    h3 Routes
            .row
                .col-xs-6.col-sm-5
                    br
                    a.btn.btn-default(href="" ng-click="route.create()") Create Route
                    a.btn.btn-default(href="" ng-click="route.edit()") Edit Route
                .col-xs-6.col-sm-7
                    div(uib-accordion close-others="oneAtATime" style="width: 100%;")
                        div.panel-default(uib-accordion-group ng-repeat="route in routes")
                            div(uib-accordion-heading) test
                            p {{route.first_terminal.name}} – {{route.second_terminal.name}}
            .row
                button.btn.btn-warning(ng-click="endTurn()") End Turn
        