#games
    .modal-header
        h3.modal-title Create Route
        a.pull-right(href="" ng-click="cancel()" style="margin-top: -25px;") X
    .modal-body
        p Between
        .row
            .col-xs-6
                .form-group
                    select(ng-model="route.terminal1Id")
                        option(value="{{terminal.id}}" ng-repeat="terminal in terminals" ng-bind="terminal.name")
            .col-xs-6
                .form-group
                    select(ng-model="route.terminal2Id")
                        option(value="{{terminal.id}}" ng-repeat="terminal in terminals" ng-bind="terminal.name")
        .row
            .col-xs-12
                .form-group
                    div(ng-repeat="ferry in ferries")
                        label(ng-bind="ferry.name")
                        input.checkbox(type="checkbox" ng-model="route.ferries[ferry.id]")
    .modal-footer
        button.btn.btn-default(ng-click="create()") Create
        button.btn.btn-default(ng-click="cancel()") Cancel
    