#games.container
    h1 Game
    .row
        .col-xs-12.col-sm-6.col-md-4
            p image here
        .col-xs-12.col-sm-4.col-md-4
            a.btn.btn-default(href="" ng-click="ferry.buy()") Buy Ferry
            a.btn.btn-default(href="" ng-click="ferry.sell()") Sell Ferry
            a.btn.btn-default(href="" ng-click="open('sm')") Maintenance
            a.btn.btn-default(href="") Staffing
        .col-xs-12.col-sm-3.col-md-4
            .panel.panel-default
                .panel-title Routes
                p {{game.routes}}
            .panel.panel-default
                .panel-title Ferries
